body{
    background: #fcf9f6;
}

.logo-button{
    cursor: pointer;
    font-size: 30px;
    font-family: 'Vollkorn SC', serif;
    padding: .1em 0.3em ;
    background: #BC3838;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 0;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFF0DA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 9px;
    margin-left: 9px;
}
.logo-button:hover {
    background: #d44041;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
.logo-button:active {
    transform: translateY(2px);
}
.logo-button:focus {
    outline: none;
}


.under_logo-hr {
    background: #222222;
    color: #222222;
    align-content: center;
    width: 800px;
    border: 2px solid #000000;
    margin-top: -20px;
}

.logo-text{

    font-family: 'Vollkorn SC', serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 0;

}

.under-logo-text{
    font-family: 'Vollkorn SC', serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    margin-top: -35px;
    letter-spacing: 0.015em;
}

.ui-text{
    font-family: 'Vollkorn SC', serif;
    font-size: 70px;
}

.logo{
    margin-top: 200px;
}

.game-mods{
    margin-top:60vh;
    background: #fffdfc;
}

.play-button{
    font-size: 15px;
    background: #BC3838;
    color: #F7F0E7;
    font-family: 'Vollkorn SC', serif;
}

.play-button:hover{
    background: #d44041;
    color: #F7F0E7;
}
.play-button:active{
    transform: translateY(2px);
}
.play-button:focus{
    outline: none;
}
