body {
    width: 600px;
    margin: auto;
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

div.button {
    margin: 0 10px;
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-size: 80px;
    text-align: center;
    margin-top: 60;
    margin-bottom: -20;
}

.under_logo {
    font-size: 20;
    margin-top: 0;
    text-align: center;
}
div.main_menu_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
div.dropdown {
    margin-left: 10;
    display: inline-block;
}
div.dropdown-child {
    display: none;
}
div.dropdown-child a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

}
div.dropdown:hover .dropdown-child {
    display: table;
}